/* ---------------------------------------------AREA LOGIN----------------------------------------------------- */
.principal{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
body{
    background-color: rgb(209, 209, 206) !important;

}

.aba-login {
    border: solid rgba(222, 211, 211, 0.666) 2px;
    background-color: #fff;
    margin:auto;
    
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
}

.cor {
    color: black;
}
.aba-login input{
    max-width: 140vw;
}

.aba-cadastro input {
    width: 100%;
    
}
.aba-cadastro button {
    margin-top: 15px;
    height: 30px;
    border-radius: 10px;
}
.redes:hover {
    color: blueviolet;
}
.contatoForm {
    margin: auto;
    display: inline-block;
    position: relative;
    font-size: 28px;
    box-sizing: border-box;
}
/* -----------------------------------------------------------ABA CADASTRO USUÁRIO----------------------- */
.aba-cadastro {
    border: solid rgba(222, 211, 211, 0.666) 2px;
    background-color: white; 
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 450px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
    height: 500px;
  
}
.aba-cadastroUsuario {

    text-align: center;
    padding: 10px 40px;

}
.aba-cadastroUsuario input {
    margin: 1px;
    width: 300px; 
    border-radius: 3px;
}
.aba-cadastroUsuario button {   
    margin-top: 15px;
    height: 50px;
    border-radius: 10px;
}
.aba-login2 {
    margin: auto;
    width: 600px;
}
.botaoEnviarCadastroUsuario {
    width: 100%;
}


/* -----------------------------------------------------------------------------------------------LAYOUT */
.qual-pet{
    width: 350px;
    display: flex;
    justify-content: center;
}
.qual-pet div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;

}

/* --------------------------------------------------------------------INFO-CADASTRO */

#nascimento, #cpf {
    width: 40.5%;
    margin: 10px 0px;
}

h6{
    margin-top: 20px;
}

.esquecisenha{
    font-size: 12px;
    text-align: right;
  
}
.aba-senha{
    position: relative;
}
.visualizarSenha{
    position: absolute;
    right: 10px;
    top: 6px;
   
}

/* --------------------------------------------------------------------RESPONSIVEL LOGIN */
@media ( max-width: 576px){

    .principal-login{
        width: 96%;
        margin: auto;
    }
    .cartao{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 200px !important;
    }

    
}



/* --------------------------------------------------------------------RESPONSIVEL CADASTRO */
@media ( max-width: 576px){


    .cabecalho{
        display: flex;
        flex-direction: column !important;
    }

    .banner-cadastro{
        display: none;
    }
    .principal-cadastro{
        width: 95%;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content:space-between ;

    }
    

    .aba-cadastroUsuario {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding:0px;
    
    }
    .aba-cadastro{
        background-color: aqua;
        width: 320px;
        padding: 0px !important;
    }
    .setorCadastro input{
        width: 100% !important;
        margin: 0;
    }

    
}
