/* *{
    border: solid red 1px;
} */

.aba-carrinho {
    width: 100vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bi-cart3 {
    font-weight: bold !important;
    margin-left: 5px;
    width: 30px;
    height: 30px;
}

H4 {
    margin: 10PX;
    margin-top: 10PX;
    font-weight: bold;
    color: rgb(181, 48, 0);
}

.principal-compras {
    width: 1300px;
    margin: auto;
    display: flex;

}

.abas {
    margin: 10PX;

}



/* --------------------------------------------------------------------------------------------------------------TITULO SACOLAS */

.titulovendas {
    display: flex;
}

h5:first-child {
    /*posição dos titulos   'titulo descrição' */
    margin-right: 230px;
}

h5 {
    /*posição dos titulos   ' demais titulos '  */
    font-weight: bold;
    margin: 5px 20px;
}

.aba-sacola {
    width: 840px;
}

.produtoadicionado,
.cartao-pagamento {

    background-color: #FFFFFF;
    border: solid 1px rgb(182, 182, 182);
    margin: 0px 5px 5px 00px;
    width: 800px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

/* -------------------------------------informação do item adicionado */
.aba-info {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.dados-produto {
    text-align: center;
    width: 320px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dados-produto .img-item img {
    width: 48px;
}

.desconto {
    text-align: center;
    width: 110px;
}

.desconto-feito {
    text-decoration: line-through;
    font-weight: 900;
    color: rgb(157, 155, 155);

}

.preco {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-weight: 900;

}

.quantidade {
    text-align: center;
    width: 135px;
}

.quantidade input {
    width: 35px;
    text-align: center;
}

.total {
    font-weight: 900;
    text-align: center;
    width: 90px;
}

/* -----------------------------------------------------------------------------------------------LADO A - CARTÃO PAGAMENTOS */

.cartao-pagamento {

    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cartao-credito {
    margin: auto 0px;
}

.alterar-pagamento {
    text-align: end;
}

.explicacao {
    display: flex;
    justify-content: space-between;
}

.explicacao p {
    font-size: 15px;
    margin: 0px 10px;
}


/* --------------------------------------------------------------------------------------------------LADO B */

.lado-b {

    padding: 2px;
    border-radius: 0px;
    margin: auto 20px;
    width: 380PX;
    border-left: rgb(210, 210, 210) solid 1px;
    height: 90%;
}

.forma-pagamentos {

    margin: 0px 10px 0px 30px;
    padding: 0px 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: solid 1px rgb(210, 209, 209);
}

.linhas-pag {
    padding: 0px 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.linhas-pag p {
    margin: 1px;
}

.confirmar-compra {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmar-compra button {
    font-weight: bold;
    width: 280px;
    padding: 8px;
    margin: 1px;
    border-radius: 20px;
    background-color: orangered;
}

/* --------------------------------------------------------------------------------------------------RESPONSIVEL!!*/
@media (max-width: 576px) {
    .aba-carrinho {
        width: 98vw !important;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .principal-compras {
  
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .aba-sacola{
        width: 98vw;
    }

    .produtoadicionado {
        margin: auto;
        width: 350px;
        height: 280px;
        flex-wrap: wrap;
    }

    .cartao-pagamento,h4, hr, .explicacao {
        width: 380px;
        flex-direction: column-reverse;
    }
    .cartao-pagamento{
        height: 200px;
    }
    .titulovendas {
        display: none;
    }

    .lado-b{
        margin: 0px;
        border-left: none;
    }

}